@charset "utf-8";
.center-wrapper {
	text-align: center;
}
.center-wrapper * {
	margin: 0 auto;
}

.center-button
{
	margin:0 auto;
	margin-left:auto;
	margin-right:auto;
	align:center;
	text-align:center;
	
}

.ui-listview li { 
    margin: 15px;
    border-radius: 1em;
}

.ui-listview {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}